<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrameworkTestJournals.SettingsPath" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FrameworkTestJournals.SettingsPath>
            <setting name="Path_Batch3" serializeAs="String">
                <value>D:\\Framework\\Styling\\Responsive-Batch-3.xlsx</value>
            </setting>
            <setting name="UsersPositive" serializeAs="String">
                <value>D:\\Framework\\PositiveLogInInfo.xlsx</value>
            </setting>
            <setting name="UsersNegative" serializeAs="String">
                <value>D:\\Framework\\NegativeLogInInfo.xlsx</value>
            </setting>
        </FrameworkTestJournals.SettingsPath>
    </userSettings>
</configuration>