<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Task_3_LinqToXml.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Task_3_LinqToXml.Settings1>
            <setting name="Path" serializeAs="String">
                <value>C:\\Users\\Iryna_Bahatka1\\Documents\\Tasks.Net\\Task_3_LinqToXml\\Task_3_LinqToXml\\RD. HW - AT Lab#. 05 - Customers.xml</value>
            </setting>
            <setting name="PathToWrite" serializeAs="String">
                <value>C:\\Users\\Iryna_Bahatka1\\Documents\\Tasks.Net\\Collections_Comparison\\SortByCountries.txt</value>
            </setting>
            <setting name="Task3" serializeAs="String">
                <value>C:\\Users\\Iryna_Bahatka1\\Documents\\Tasks.Net\\Collections_Comparison\\TotalTurnoverMoreThanX.txt</value>
            </setting>
            <setting name="Task1" serializeAs="String">
                <value>C:\\Users\\Iryna_Bahatka1\\Documents\\Tasks.Net\\Collections_Comparison\\Task1.txt</value>
            </setting>
            <setting name="Task4" serializeAs="String">
                <value>C:\\Users\\Iryna_Bahatka1\\Documents\\Tasks.Net\\Collections_Comparison\\MonthAndYearFirstOrder.txt</value>
            </setting>
        </Task_3_LinqToXml.Settings1>
    </userSettings>
</configuration>