<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FrameworkTestJournals.SettingsNameBrowser" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FrameworkTestJournals.SettingsPath" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FrameworkTestJournals.SettingsNameBrowser>
            <setting name="CHROME" serializeAs="String">
                <value>"chrome"</value>
            </setting>
            <setting name="FIREFOX" serializeAs="String">
                <value>"firefox"</value>
            </setting>
            <setting name="IE" serializeAs="String">
                <value>"IE"</value>
            </setting>
        </FrameworkTestJournals.SettingsNameBrowser>
        <FrameworkTestJournals.SettingsPath>
            <setting name="Path_Batch3" serializeAs="String">
                <value>C:\\Users\\irina\\Documents\\Tasks.Net\\JFramework\\Responsive-Batch-3.xlsx</value>
            </setting>
            <setting name="UsersPositive" serializeAs="String">
                <value>C:\\Users\\irina\\Documents\\Tasks.Net\\JFramework\\PositiveLogInInfo.xlsx</value>
            </setting>
            <setting name="UsersNegative" serializeAs="String">
                <value>C:\\Users\\irina\\Documents\\Tasks.Net\\JFramework\\NegativeLogInInfo.xlsx</value>
            </setting>
            <setting name="SearchPositive" serializeAs="String">
                <value>C:\\Users\\irina\\Documents\\Tasks.Net\\JFramework\\PositiveSearch.xlsx</value>
            </setting>
            <setting name="SearchNegative" serializeAs="String">
                <value>C:\\Users\\irina\\Documents\\Tasks.Net\\JFramework\\NegativeSearch.xlsx</value>
            </setting>
        </FrameworkTestJournals.SettingsPath>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
